<%= turbo_frame_tag 'modal' do %>
  <div class="w-[200px] h-[200px] bg-red-500 fixed top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]">
    <p>
      this is modal
    </p>
    <%= link_to 'Generate', shopping_list_path %>
    <%= link_to 'Cancel', '#', data: {
    controller: 'modals',
    action: 'modals#close'
  } %>
  </div>
<% end %>
